[submodule "fast-neural-style"]
	path = fast-neural-style
	url = https://github.com/rohanbadlani/fast-neural-style
[submodule "pytorch-CycleGAN-and-pix2pix"]
	path = pytorch-CycleGAN-and-pix2pix
	url = https://github.com/rohanbadlani/pytorch-CycleGAN-and-pix2pix.git
[submodule "contextualLoss"]
	path = contextualLoss
	url = https://github.com/roimehrez/contextualLoss.git
[submodule "image-quality-assessment"]
	path = image-quality-assessment
	url = git@github.com:VVCepheiA/image-quality-assessment.git
[submodule "Inception-Score"]
	path = Inception-Score
	url = git@github.com:VVCepheiA/Inception-Score.git
[submodule "neural-image-assessment"]
	path = neural-image-assessment
	url = git@github.com:VVCepheiA/neural-image-assessment.git
