[submodule "fast-neural-style"]
	path = fast-neural-style
	url = https://github.com/rohanbadlani/fast-neural-style
[submodule "pytorch-CycleGAN-and-pix2pix"]
	path = pytorch-CycleGAN-and-pix2pix
	url = https://github.com/rohanbadlani/pytorch-CycleGAN-and-pix2pix.git
